@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.hover-underline-animation {
  @apply inline-block relative;
}

.hover-underline-animation::after {
  @apply absolute w-full scale-x-0 h-0.5 bottom-[-4px] left-0 bg-bordeaux;
  content: '';
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  @apply scale-x-100;
  transform-origin: bottom left;
}

.adoc-underline {
  @apply inline-block relative;
}

.adoc-underline::after {
  @apply absolute w-[75%] h-1 bottom-[-8px] left-1/2 translate-x-[-50%] bg-bordeaux;
  content: '';
}

.dynamic-viewheight {
  height: 100vh;
  height: 100dvh;
}
